:root {
  --link-color: rgb(0,150,0)
}

a {
  color: var(--link-color);
}

a > button {
  color: white;
  background-color: var(--link-color);
}

a > button:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);;
}
